<div class="note-area" ng-show="!editMode">
    <ul>
        <li ng-repeat="note in notes|orderBy:'title'">
            <h2>
                {{$index + 1}}. {{note.title}}
                <img style="width: 20px; cursor: pointer;" src="css/icons/edit.png" ng-click="openEditor(note.id)">
                <img style="width: 20px; cursor: pointer;" src="css/icons/delete.png" ng-click="delete(note.id)">
            </h2>
        </li>
    </ul>
</div>
<div id="editor" ng-show="editMode" class="note-area" contenteditable="true" ng-bind="noteText"></div>
<span><a href="#" ng-click="save()" ng-show="editMode">Back</a></span>
<span><a href="#" ng-click="openEditor()" ng-show="!editMode">Add Note</a></span>